<h3>Register Here</h3>

<div class="row">
	<form class="col s4 center" ng-submit="goRegister()">


	  <input type="email" placeholder="Email Id" ng-model="user.email">
	  <input type="password" placeholder="Password" ng-model="user.password">
	 <!--  <input type="submit"  value="Register"> -->
	  <a href="#/login" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Register</a>
	 <!--  <button ng-click="logout()">Logout</button> -->
	 <!-- <a href="#/login" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Login</a> -->
	</form>

</div>
