<div class="container">

  <a data-target="modalPin" class="btn-floating btn-large waves-effect waves-light red center-align"><i class="material-icons">+</i></a>

 <a data-target="boardModal" class="btn-floating btn-large waves-effect waves-light blue center-align"><i class="material-icons">B</i></a>
<!-- Modal Structure -->
<div id="modalPin" class="modal">
    <div class="modal-content">
      <form ng-submit="postToFireBase(url,description,imageUrl)">
            <div>Link</div>
              <input type="text" ng-model="url" name="url" placeholder="Enter link Here">
            <div>Description:</div>
              <input type="text" ng-model="description" name="description" placeholder="Describe your card">
            <div>have a photo?</div>
              <input type="text" ng-model="imageUrl" name="imageUrl" placeholder="Image link">
              <input type="text" name="Title" placeholder="Title", ng-model="title">

          <input type="submit" value="Create Item">
      </form>
    </div>
</div>  <!-- end pin modal -->



<!-- Pin card -->

<div ng-click="getThePins()">stuff</div>
<!-- <div ng-repeat="pin in domPin"> -->
<div ng-repeat= "(key, value) in domPin">
   <div class="col s12 m7">

    <h2 class="header">{{value.Title}}</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="{{value.image}}" alt="Pin Image">
        <button ng-click = addPin(key,value)>Add Pin</button>
      </div>
        <div class="card-stacked">
          <div class="card-content">
          <p>{{value.description}}</p>

        </div>
        <div class="card-action">
          <a href="{{value.url}}">Go</a>

        </div>
      </div>
    </div>
  <!-- </div> -->
  </div>
</div>
  <!-- end pin card -->



  <!-- Board Modal Structure -->

  <div id="boardModal" class="modal bottom-sheet">
     <div class="modal-content">

      <h4>Your Boards</h4>
        <form ng-submit="boardToFireBase(boardName)">

            <input type="text" ng-model="boardName" name="description" placeholder="Name Your Board">
            <input type="submit" value="Create Board">
        </form>
        <div>
          <ul>
            <li ng-repeat="(key, value) in boards">

             <button ng-click = addBoardId(key) >{{value.Title}}</button>
            }
            }
            </li>
          </ul>
        </div>
    </div>

</div>









</div>
